@use "sass:color";

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../layout/grid" as *;

.card {
  border-radius: 0.5em;
  box-shadow: 40px 60px 50px -47px $light-gray;
  place-content: center;
  padding: 2.462rem;
  height: 100%;
  position: relative;
  z-index: -2;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1.05rem;
  }

  &__photo {
    border-radius: 50%;
  }

  &__svg {
    position: absolute;
    right: 2rem;
    z-index: -1;
  }

  &__headline {
    font-weight: 600;
    font-size: 1.538rem;
    line-height: 2rem;
  }

  &__title {
    display: block;
    margin-top: -0.15rem;
    font-size: 0.846rem;
  }

  .border {
    &-dark-purple {
      border-style: solid;
      border-color: $moderate-violet;
    }

    &-light-purple {
      border-style: solid;
      border-color: color.adjust($moderate-violet, $lightness: 15%);
    }
  }
}

@include respond-to("medium") {
  @each $key, $value in $grid-cards {
    .card:nth-of-type(#{$key}) {
      grid-area: $value;

      & div > .card_svg {
        right: 6rem;
      }
    }
  }
}

@include respond-to("large") {
  @each $key, $value in $grid-cards {
    .card:nth-of-type(#{$key}) {
      grid-area: $value;

      & div > .card_svg {
        right: 6rem;
        top: 0;
      }
    }
  }
}
